# Flox runtime data
/.flox/cache/
/.flox/log/
/.flox/run/
**/.flox/cache/
**/.flox/log/
**/.flox/run/
**/.flox/.cache/

# Devbox runtime data
/.devbox/
**/.devbox/

# OS/editor
.DS_Store
.idea/

# Build artifacts
**/.gradle/
**/build/
**/node_modules/
**/Pods/
*.cache
